{% extends "base.html" %}

{% block title %}Django Login Framework{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
	{% if form.errors %}
		<p>
		Your username and/or password not found.
		Please try again.
		</p>
	{% endif %}
		<div class="login-panel panel panel-default">
			<div class="panel-body">
				<form role="form" action="{% url 'login' %}" method="post">
				{% csrf_token %}
					<fieldset>
						<div class="form-group">
						    {{ form.username }}
						</div>
						<div class="form-group">
						    {{ form.password }}
						</div>
						<input type="submit" class="btn btn-lg btn-success btn-block" value="Log-in">
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
