{% extends "base.html" %}

{% block title %}Password Change{% endblock %}

{% block content %}
	
		<div class="col-md-5" id="password-change-col">
			<div class="row content"  id="password-change-row">
				<div class="row section-title">
					<div class="col-md-12">
					<h3>Password change</h3>
					</div>
				</div>
				<div class="row">
				<form action="" method="post" id="pw-change-form" class="form-horizontal">
					<div class="row">
						<div class="form-group">
						<label for="id_old_password" class="control-label col-md-4">Old password:</label>
						<div class="col-md-7"><input type="password" name="old_password" required autofocus id="id_old_password" class="form-control"/></div>
						</div>
						<div class="form-group"><label for="id_new_password1" class="control-label col-md-4">New password:</label>
						<div class="col-md-7"><input type="password" name="new_password1" required id="id_new_password1" class="form-control"/> </div>
						</div>
						<div class="form-group"><label for="id_new_password2" class="control-label col-md-4">New password confirmation:</label>
						<div class="col-md-7"><input type="password" name="new_password2" required id="id_new_password2" class="form-control"/></div></div>
					</div>
					<div class="row">
						<div class="col-md-4"></div><div class="col-md-2"><button class="btn btn-lg btn-primary" type="submit">Save</button></div>
					</div>
				</form>
				</div>
				<div class="row">
					<div class="col-md-12" id="form-msgs">
					
					</div>
				</div>
			</div><!-- closing row content -->
		</div>

{% endblock %}

{% block domready %}
<script>
	$('#pw-change-form').submit(function(event) {
		event.preventDefault();
		var data = $('#pw-change-form').serialize();
		$.post(
				'{% url "settings" %}',
				data,
				function(response){
					if (response['status'] == 'success') {
						$("input[name='old_password']" ).val('');
						$("input[name='new_password1']" ).val('');
						$("input[name='new_password2']" ).val('');
						var row = '<div class="alert alert-success">';
						row += '<strong>Password changed!</strong>';
						row += '</div>';
						$("#form-msgs").append(row);
					} else {
						$("#form-msgs").append(response["errors_list"]);
						$("input[name='old_password']" ).val('');
						$("input[name='new_password1']" ).val('');
						$("input[name='new_password2']" ).val('');
					}
				}
			)
	});
</script>
{% endblock %}