/* site.css */

body {
	height:500px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 14px;
	line-height: 2;
}

.navbar-light {
	background-color: #c5c1c0;
}

.navbar-brand {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 24px;
}

.filter-form-group {
	padding-right: 20px;
}

#start-date, #end-date {
	width: 120px;
}

#new-case-btn {
	width: 40px;
	height: 40px;
}

.row #filter, #cases-list-table {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #ffffff;
}


div #report-selector {
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #ffffff;
}

.glyphicon-refresh-animate {
    -animation: spin 1.5s infinite linear;
    -webkit-animation: spin2 1.5s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}