
      	<p><strong>Case ID: </strong>{{ case.lnkr_query_id }}</p>
      	<p><strong>Timestamp: </strong>{{ case.creation_date|date:"d/m/Y H:i" }}</p>
      	<p><strong>Platform: </strong>{{ case.platform }}</p>
      	<p><strong>Report: </strong>{{ case.report_type }}</p>
      	<p><strong>Status: </strong>{{ case.status }}</p>
      	<p><strong>'eBay sites:'</strong>{{ case.input_args.ebay_sites }}</p>
      	<p><strong>'Seller id:'</strong>{{ case.input_args.seller_id }}</p>
      	<p><strong>'Keywords:'</strong>{{ case.input_args.keywords }}</p>
      	<p><strong>'Search in description:'</strong>{{ case.input_args.search_desc }}</p>

