
		<div class="row">
			<div class="col-md-10">
			<table class="table table-striped" id="cases-list">
				<thead class="text-left">
					<tr>
						<th>Query id</th>
						<th>Platform</th>
						<th>Date</th>
						<th>Title</th>
						<th>Report</th>
						<th>Status</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody class="text-left">
				{% for case in cases_list %}
				<tr>
					<td>{{ case.lnkr_query_id }}</td>
					<td>{{ case.platform }}</td>
					<td>{{ case.creation_date|date:"d/m/Y H:i" }}</td>
					<td>{{ case.title }}</td>
					<td>{{ case.report_type }}</td>
					<td>{{ case.status }}</td>
					<td><a href="#" class="case-data" value="{{ case.lnkr_query_id }}"><span class="glyphicon glyphicon-menu-hamburger"></span></a></td>
					{% if case.status == 'completed' %}
					<td><a href='./download_results/?query_id={{ case.lnkr_query_id }}'><span class="glyphicon glyphicon-download"></span></a></td>
					{% else %}
					<td></td>
					{% endif %}
					<td><a href="#" class="delete-case" value="{{ case.lnkr_query_id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>

		<div class="row">
		<div class="col-md-10">
		{% if cases_list.has_other_pages %}
			<ul class="pagination">
			{% if cases_list.has_previous %}
				<li><a href="#" value="{{ cases_list.previous_page_number }}" class="pager">&laquo;</a></li>
			{% else %}
				<li class="disabled"><a href="#" class="pager">&laquo;</a></li>
			{% endif %}
			{% for page_nr in cases_list.paginator.page_range %}
				{% if page_nr == cases_list.number %}
					<li class="active"><a href="#" class="pager" value="{{ page_nr }}">{{ page_nr }}</a></li>
				{% else %}
					<li><a href="#" class="pager" value="{{ page_nr }}">{{ page_nr }}</a></li>
				{% endif %}
			{% endfor %}
			{% if cases_list.has_next %}
				<li><a href="" class="pager" value="{{ cases_list.next_page_number }}">&raquo;</a></li>
			{% else %}
				<li class="disabled"><a href="#" class="pager">&raquo;</a></li>
			{% endif %}
			</ul>
		{% endif %}
		</div>
		</div>


		<script>
		// GET next page list of cases
		$('.pager').click( function (event) {
			event.preventDefault();
			var pageNr = $(this).attr("value");
			// assigne the page nr to the hidden input value
			$("#page-number").val(pageNr);
			get_cases();
		});
		
		// GET case details
		$('.case-data').click( function (event) {
			event.preventDefault();
			var data = { 'case_nr' : $(this).attr("value") };
			// start animation of glyphicon spinning
			var glyphicon = $(this).find('span')
			glyphicon.addClass('glyphicon-menu-hamburger-animate')
			// ajax request
			$.get(
				'{% url "case_details" %}',
				data,
				function(response) {
					if (response['status'] == 'success') {
						// stop glyphicon spinning
						glyphicon.removeClass('glyphicon-menu-hamburger-animate')
						// clean modal content
						$('#case-details-content').empty();
						// append modal
						$('#case-details-content').append(response['case_details']); 
						// open modal
						$('#case-details-modal').modal('toggle');
						
					} else {
						// stop glyphicon spinning
						
						// append modal with error message
						
						// open modal
					}
				}
			);
		});
		
		// GET case delete
		$('.delete-case').click( function (event) {
			event.preventDefault();
			var data = { 'case_nr' : $(this).attr("value") };
			// ajax request
			$.get(
				'{% url "delete_case" %}',
				data,
				function(response) {
					if (response['status'] == 'success') {
						get_cases();
					} else {
						// stop glyphicon spinning
						
						// append modal with error message
						
						// open modal
					}
				}
			);
		});
		
		</script>
