{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cases console{% endblock %}

{% block content %}

<div class="container-fluid text-center">    
	<div class="row content">
	
		<div class="col-sm-1">
		</div>
		
		<div class="col-sm-10">
			<div class="row" id="filter">
				{% crispy case_filter_form %}
			</div>
			<div class="row" id="table">
				<table class="table table-striped" id="cases-list">
					<thead>
						<tr>
							<th>Platform</th>
							<th>Date</th>
							<th>Query</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ebay</td>
							<td>02-03-2017</td>
							<td>Bio Baby Oil</td>
							<td>completed</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="row" id="pager">
			</div>
			
		</div>
		<div class="col-sm-1">
		</div>
	</div>
</div>

{% endblock %}