{% extends "base.html" %}

{% block title %}Cases console{% endblock %}

{% block content %}

<div class="row content">
	
	<div class="col-md-10"><!-- first column on the right -->
		<div class="row" id="filter">
			<div class="col-md-10">
				<!-- form goes here! -->
				<form role="form" id="case-filter-form" class="form-inline" action="" method="get">

					<div class="form-group filter-form-group">
						{{ case_filter_form.platform.label_tag }}{{ case_filter_form.platform }}
					</div>
					<div class="form-group filter-form-group">
						{{ case_filter_form.from_date.label_tag }}{{ case_filter_form.from_date }}
					</div>
					<div class="form-group filter-form-group">
						{{ case_filter_form.to_date.label_tag }}{{ case_filter_form.to_date }}
					</div>
					{{ case_filter_form.page }}
					<button type="submit" class="btn btn-default">Filter</button>
				</form>
			</div>
		</div>
		<div class="row" id="cases-list-table">

		</div>
		
	</div><!-- closing first column -->
	<div class="col-md-2"><!-- second column on the left -->
		<div class="well">
			<div>
				<ul class="nav nav-list">
					<li><label class="tree-toggle nav-header">eBay</label>
						<ul class="nav nav-list tree">
							<li><a data-target="#ebay-listing-modal" data-toggle="modal" href="#ebay-listing-modal">Listings</a></li>
							<li><a href="#">Registration details</a></li>
						</ul>
					</li>
					<li class="divider"></li>
					<li><label class="tree-toggle nav-header">MercadoLibre</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Listings</a></li>
							<li><a href="#">Registration details</a></li>
						</ul>
					</li>
					<li class="divider"></li>
					<li><label class="tree-toggle nav-header">Alegro</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Listings</a></li>
							<li><a href="#">Registration details</a></li>
						</ul>
					</li>
					<li class="divider"></li>
					<li><label class="tree-toggle nav-header">Facebook</label>
						<ul class="nav nav-list tree">
							<li><a href="#">Places</a></li>
							<li><a href="#">Friends</a></li>
							<li><a href="#">Likes</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- closing well class -->
	</div><!-- closing second column -->
</div><!-- closing row content -->

<!-- Modals -->
{% include 'cases/ebay_modal_listings.html' %}
<!-- closing modals -->

{% endblock %}

{% block domready %}
<!-- BootStrap DatePicker JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

<script>
	$(".date-picker").datepicker({format: 'dd/mm/yyyy'});
	
	$('.tree-toggle').click(function () {
		$(this).parent().children('ul.tree').toggle(500);
	});
	
	$('.tree-toggle').parent().children('ul.tree').toggle(1000);
	
	// load the table function
	function get_cases() {
		var data = $('#case-filter-form').serialize();
		$.get(
				'{% url "cases" %}',
				data,
				function(response) {
					if (response['status'] == 'success') {
						// clean all table content
						$("#cases-list-table").empty();
						// populate the table with cases
						$("#cases-list-table").append(response["case_list"]);
					} else {
						// print error message in one single cell spanning all columns
					}
				}
		);
	};
	
	// GET cases request
	$('#case-filter-form').submit(function(event) {
		event.preventDefault();
		get_cases();
	});
	
	// post a case with ajax
	$('#ebay-listing-form').submit(function(event) {
		event.preventDefault();
		// disable "submit case" button
		$('#lstg-sbmt-btn').addClass('disabled');
		// start loading animation
		$('#lstg-sbmt-btn').html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Creating');
		var data = $('#ebay-listing-form').serialize();
		$.post(
				'{% url "cases" %}',
				data,
				function(response){
					if (response['status'] == 'success') {
						// print success message
						
						// re-enable case submit button
						$('#lstg-sbmt-btn').removeClass('disabled');
						$('#lstg-sbmt-btn').html('Create');
						// clean up inputs
						$("input[name='seller_id']" ).val('');
						$("input[name='keywords']" ).val('');
						$("#ebay-sites").find(":checkbox").each(function() {
							$(this).prop('checked', false);
						});
						// reload table
						get_cases();
						// close modal
						$('#ebay-listing-form').modal().hide();
					} else {
						// print error message in the modal
						// re-enable case submit button
					};
				}
		);
	});
	
	$("#select-eu").click( function() {
		var euCountries = ["GB", "AT", "BE-FR", "FR", "DE", "IT", "BE-NL", "NL", "ES", "IE", "PL"]
		$("#ebay-sites").find(":checkbox").each(function() {
			if ( euCountries.indexOf( $(this).val() ) > 0 ) { 
				$(this).prop('checked', true); 
			} else { $(this).prop('checked', false); }
		});
	});

	// select all checkboxes
	$("#select-all").click( function() {
		$("#ebay-sites").find(":checkbox").each(function() {
			$(this).prop('checked', true);
		});
	});

	// clear all checkboxes
	$("#clear-all").click( function() {
		$("#ebay-sites").find(":checkbox").each(function() {
			$(this).prop('checked', false);
		});
	});
	
	$(document).ready(function() {
		get_cases();
	});
	
</script>
{% endblock %}
